
svg {
    width: 200px;
    height: 200px;
}

#four-corners {
    width: 100vw;
    height: 100vh;
    background-color: hsl(236, 50%, 76%);
    background-image: url(../img/corner-ul.svg),
    url(../img/corner-bl.svg),
    url(../img/corner-ur.svg),
    url(../img/corner-br.svg);
    background-repeat: no-repeat;
    background-position: left top, left bottom, right top, right bottom;
    background-size: 200px, 200px, 200px, 200px;
}

h1 {

    font-family: Lobster, sans-serif;
    font-size: 8rem;
    color: hsl(236, 66%, 46%);
    margin: 0;
    padding-top: 100px;
    text-align: center;
}

