#four-corners {
    width: 100vw;
    height: 100vh;
    background-color: hsl(236, 50%, 76%);
    background-image: url(../img/corner-ul.svg),
    url(../img/corner-bl.svg),
    url(../img/corner-ur.svg),
    url(../img/corner-br.svg);
    background-repeat: no-repeat;
    background-position: left top, left bottom, right top, right bottom;
    background-size: 200px, 200px, 200px, 200px;
}

h1 {
    color: white;
    transform: translate(50vw, 50vh);
    margin: 0;
}
